<h1>Descripcion del proceso</h1>

<p> Orden de produccion: <%= @doblado.production_order_id %></p>
<p> Numero de proceso: <%= @doblado.numero_proceso %></p>
<p> Ancho del rollo: <%= @doblado.ancho_rollo %> centimetros</p>
<p> Cantidad: <%= @doblado.cantidad %> rollos</p>
<p> Ancho solapa: <%= @doblado.ancho_solapa %> metros</p><p>
<p> Distancia selle: <%= @doblado.distancia_selle %> horas</p>
<p> Peso total: <%= @doblado.peso_total %> kilogramos</p>
<p> Tiempo de montaje: <%= @doblado.tiempo_montaje %> horas</p>
