<h1>Descripcion del proceso</h1>


<p> Orden de produccion: <%= @refilado.production_order_id %></p>
<p> Numero de proceso: <%= @refilado.numero_proceso %></p>
<p> Ancho del rollo: <%= @refilado.ancho_rollo %> centimetros</p>
<p> Cantidad: <%= @refilado.cantidad %> rollos</p>
<p> Semitubilar: <%= @refilado.semitubular %></p>
<p> Tubular: <%= @refilado.tubular %></p>
<p> Laminar: <%= @refilado.laminar %></p>
<p> Abrir: <%= @refilado.abrir %></p>
<p> Partir: <%= @refilado.partir %></p>
<p> Descolillar: <%= @refilado.descolillar %></p>
<p> Rebobinar: <%= @refilado.rebobinar %></p>
<p> Microperforar: <%= @refilado.microperforar %></p>
<p> Diametro maximo bobina: <%= @refilado.diametro_max_bobina %></p>
<p> Metros lineales programados: <%= @refilado.metros_lin_program %></p>
