
<%= form_for(@production_order_detail) do |f| %>
  <% if @production_order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_order_detail.errors.count, "error") %> prohibited this production_order_detail from being saved:</h2>

      <ul>
      <% @production_order_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :production_order_id %><br />
    <%= f.text_field :production_order_id %>
  </div>
  <div class="field">
    <%= f.label :production_order_id %><br />
    <%= f.text_field :production_order_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Agregar detalle'%>
  </div>
<% end %>
