
<%= form_for(@production_order) do |f| %>
  <% if @production_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_order.errors.count, "error") %> prohibited this production_order from being saved:</h2>

      <ul>
      <% @production_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :initial_date %><br />
    <%= f.date_select :initial_date %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br />
    <%= f.date_select :delivery_date %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear Orden' %>
  </div>
<% end %>
