<h1>Production Order Details</h1>

<h2> Estado: <%= @production_order.state %></h2>
<p> Referencia: <%= @production_order.order_reference %></p>

<% if !@production_order.production_order_details.empty? %>
<table>
  <tr>
    <th> Referencia </th>
    <th> Cantidad </th>
    <th> Descripcion </th>
  </tr>
  <% @pod.each do |detail| %>
  <tr>
    <td><%= detail.material.reference %></td>
    <td><%= detail.quantity %></td>
    <td> Here goes the material description </td>
  </tr>
  <% end %>
</table>
<% end %>

<% unless @production_order.state == "confirmed" %>
<div id="prodDet">
  <%= render 'detailForm' %>
</div>

<br />
<%= form_for @production_order do |t| %>
  <%= t.hidden_field :state, :value=>"confirmed" %>
  <%= t.submit "Confirm" %>
<% end %>

<% end %>

<br />



<% @pco.each do |pr| %>
  <%= pr.p_name %>
  <%= pr.p_order %>
  <%= pr.p_create %><br />
<% end %>

  <h3> Procesos asociados a la orden de produccion:</h3>
  <br />
  <% @production_order.procesos.each do |pr| %>
  <div class="process_descr">
    <p> <b>Proceso:</b> <%= pr.numero_proceso %></p>
    <p> <b>Observaciones:</b> <%= pr.observaciones %></p>

    <% pr.lotes.each do |lote| %>
    <div class="lote_descr">
      <p> <b>Lote:</b> <%= lote.numero_lote %></p>
      <p> <b>Peso:</b> <%= lote.peso %></p>
      <p> <b>Mts. Lin: </b> <%= lote.metros_lineales %></p>
      <p> <b>Operario Asignado: </b> <%= User.find(lote.user_id).nombre %></p> <!--  Ugly as hell -->
    </div>
    <br />
    <% end %>

  </div>
  <br />
  <% end %>




