<h1>Descripcion del proceso de sellado</h1>


<p> Orden de produccion: <%= @sellado.production_order_id %></p>
<p> Numero de proceso: <%= @sellado.numero_proceso %></p>
<p> Ancho del rollo: <%= @sellado.ancho_rollo %></p>
<p> Cantidad: <%= @sellado.cantidad %></p>
<p> Sellado curvo: <%= @sellado.sellado_curvo %></p>
<p> Troquel: <%= @sellado.troquel %></p>
