<h1>Descripcion del proceso</h1>


<p> Orden de produccion: <%= @impresion.production_order_id %></p>
<p> Numero de proceso: <%= @impresion.numero_proceso %></p>
<p> Ancho del rollo: <%= @impresion.ancho_rollo %> centimetros</p>
<p> Cantidad: <%= @impresion.cantidad %> rollos</p>
<p> Ficha tecnica: <%= @impresion.ficha_tecnica %> </p><p>
<p> Metros lineales programados: <%= @impresion.metros_lin_programacion %> metros</p>
<p> Tiempo de montaje: <%= @impresion.tiempo_montaje %> horas</p>
