<h1>Descripcion del proceso</h1>

<p> Orden de produccion: <%= @corte.production_order_id %></p>
<p> Numero de proceso: <%= @corte.numero_proceso %></p>
<p> Ancho del rollo: <%= @corte.ancho_rollo %></p>
<p> Cantidad: <%= @corte.cantidad %></p>
<p> Grafilado Vertical: <%= @corte.grafiladoV %></p>
<p> Grafilado Horizontal: <%= @corte.grafiladoH %></p>
